{% extends "PiggyBoxTicketBundle::layout.html.twig" %}

{% block content %}

<div id="content" class="container">
    <div class="row">
        <div class="span12">

            <h2>Modifier un client</h2>

                <form class="form-horizontal" action="{{ path('customer_update', { 'id': account.id }) }}" method="post" {{ form_enctype(edit_form) }}>

                    {{ form_row(edit_form.customer.lastname) }}

                    {{ form_row(edit_form.customer.firstname) }}

                    {{ form_row(edit_form.customer.email) }}

                    {{ form_row(edit_form.customer.phone) }}

                    <hr />

                    {{ form_row(edit_form.ticket_value) }}

                    {{ form_row(edit_form.balance, { 'attr': {'disabled': 'disabled'} }) }}

                    <hr />

                    {{ form_row(edit_form.customer.comment) }}

                    {{ form_rest(edit_form) }}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-primary" name="action" value="update"><i class='icon-pencil icon-white'></i> Modifier</button>
                        <a href="{{ path('customer_operation', { 'id': account.id }) }}" class="btn btn-large"><i class='icon-remove'></i> Annuler</a>
                        <a class="btn btn-large btn-danger pull-right confirmsuppr"><i class='icon-trash icon-white'></i> Supprimer</a>
                            <div id="confirmsuppr" class="span5 pull-right">
                                <p>Etes-vous sure de vouloir supprimer ce client? <br />
                                Cette opération est irreversible.<p>
                                <a class="btn btn-large hidesuppr"> Non </a>
                                <button type="submit" class="btn btn-large btn-danger" name="action" value="delete"><i class='icon-trash icon-white'></i> Oui</button>
                            </div>
                    </div>
                </form>

        </div>
    </div>
</div>

{% endblock %}
