{% extends "PiggyBoxTicketBundle::layout.html.twig" %}

{% block content %}

<div id="content" class="container">
    <div class="row">
        <div class="span12">

            <h2>Ajouter un client</h2>

                <form class="form-horizontal" action="{{ path('customer_create') }}" method="post" {{ form_enctype(form) }}>
                
                    {{ form_row(form.customer.lastname) }}

                    {{ form_row(form.customer.firstname) }}

                    {{ form_row(form.customer.email) }}

                    {{ form_row(form.customer.phone) }}

                    <hr />

                    {{ form_row(form.ticket_value) }}

                    {{ form_row(form.balance) }}

                    <hr />

                    {{ form_row(form.customer.comment) }}     

                    <div class="form-actions">
                        <button type="submit" class="btn btn-large btn-success" name="action" value="create"><i class='icon-plus icon-white'></i> Ajouter</button>
                        <a href="search.php" class="btn btn-large"><i class='icon-remove'></i> Annuler</a>
                    </div>
                </form>

        </div>
    </div>
</div>

{% endblock %}