{% extends "PiggyBoxTicketBundle::layout.html.twig" %}

{% block content %}

<div id="content" class="container">

        <div class="row">

    		<div id="client" class="span8">

                <h2><span class="caps"></span> <span class="uppercase"></span></h2>


                <ul class="unstyled userinfo">
                    <li title='Email'><i class='icon-envelope'></i>
                        <a href='mailto:{{ account.customer.email }}'>{{ account.customer.email }}
                        </a>
                    </li>

                     <li title='Téléphone'>&#9742;
                        {{ account.customer.phone }}
                    </li>

                    <li>
                        <i class="icon-home"></i>
                    </li>

                    <li title='A propos'><i class='icon-tag'></i>
                        {{ account.customer.comment }}
                    </li>
                </ul>





                <a href="{{ path('customer_edit', { 'id': account.id} ) }}" class="btn pull-right"><i class="icon-pencil"></i> Modifier</a>



    		</div>

            <div class="span3 offset1">
                <div class="well">

                    <div id="solde" class="">
                        <span id="thesolde">{{ account.balance }}</span> &euro;
                    </div>

                    <div id="lasttime" class=""></div>

                </div>

                <form id="resetbalanceform" class="nomargin" method="post" action="#">
                    <input id="reset-id" type="hidden" name="id" value="{{account.id}}" />
                    <input type="hidden" name="solde" value="" />
                    <button id="resetbalance" class="btn btn-inverse pull-right" name="action" value="raz" type="submit"><i class="icon-refresh icon-white"></i> Remise à zéro</button>
                </form>

            </div>

        </div>


		<hr />

        <div class="row">


            <div id="payer" class="span6 well">

                <h2 class="">Payer <a class="hint label label-info" rel="hint1">Aide</a></h2>

                <div id="hint1" class="hintcontent alert alert-info">
                    <a class="close" data-dismiss="alert">?</a>
                    <p>Montant à payer = Nombre de ticket x Valeur d'un ticket</p>
                </div>

                <form id="setbalanceform" class="form-horizontal" method="post" action="#">

                    <input id="set-id" type="hidden" name="id" value="#" />
                    <input type="text" name="solde" id="thesolde" class="hide" value="#" />


                    <div class="input-append">
                        <input name="montant" id="montant" class="input-small" type="text" value="" placeholder="Ex: 22,37" /><span class="add-on">&euro;</span>
                    </div>

                    =

                    <input name="nombre" id="nombre" class="input-mini" type="text" placeholder="Ex: 2" value="" />

                    <i class="icon-remove"></i>

                    <div class="input-append">
                        <input name="valeur" id="valeur" class="input-mini" type="text" value="" /><span class="add-on">&euro;</span>
                    </div>


                    <button class="btn btn-primary pull-right" name="action" value="calcul" type="submit">Payer</button>

                </form>


                <div id="" class="">

                    <table cellspacing="30px" cellpadding="12px">
                        <tr>
                            <th width="120px">Nombre de ticket minium</th>
                            <th class="reste" width="120px">Reste à payer</th>
                            <th class="avoir" width="120px">Avoir</th>
                        </tr>
                        <tr>
                            <td class="nbrminval"><span class="hintitem">&nbsp;</span></td>
                            <td class="reste resteval"><span class="hintitem negative">&nbsp;</span></td>
                            <td class="avoir avoirval"><span class="hintitem positive">&nbsp;</span></td>
                        </tr>
                    </table>

                </div>

            </div>


            <div id="" class="span4 offset1">

                <h4 class="marged">Modifier solde <a class="hint label label-info" rel="hint2">Aide</a></h4>

                <div id="hint2" class="hintcontent alert alert-info">
                    <a class="close" data-dismiss="alert">?</a>
                    <p>Pour modifier un solde entrez le montant total du solde.
                    Cette case peut servir pour des cas particulier ou bien pour corriger une erreur.</p>
                </div>


                <form id="modifybalanceform" class="form-horizontal" method="post" action="">

                    <input id="modify-id" type="hidden" name="id" value="{{ account.id }}" />
                    <input id="modify-balance" type="hidden" name="solde" value="" />

                    <div class="input-append">
                        <input name="newsolde" id="newsolde" class="input-small" type="text" value="" placeholder="Ex: 10,24" /><span class="add-on">&euro;</span>
                    </div>
                    <button class="btn" name="action" value="updatesolde" type="submit">Modifier</button>

                </form>


                <hr class="well-marged" />


                <h4 class="marged">Ajouter du crédit <a class="hint label label-info" rel="hint3">Aide</a></h4>

                <div id="hint3" class="hintcontent alert alert-info">
                    <a class="close" data-dismiss="alert">?</a>
                    <p>Sans forcément faire d'achat un client peut vous donner ses tickets restaurant afin
                    de créditer son compte. Entrez le nombre de ticket et la valeur d'un ticket pour les
                    ajouter à son solde.</p>
                </div>

                <form id="addbalanceform" class="form-horizontal" method="post" action="">

                    <input id="add-id" type="hidden" name="id" value="{{account.id}}" />
                    <input type="hidden" name="solde" value="" />


                    <input id="add-ticket-number" name="nombre"  class="input-mini" type="text" placeholder="Ex: 2" value="" />

                    <i class="icon-remove"></i>

                    <div class="input-append">
                        <input id="add-ticket-value" name="valeur"  class="input-mini" type="text" value="" /><span class="add-on">&euro;</span>
                    </div>

                    <button class="btn" name="action" value="addcredit" type="submit">Créditer</button>

                </form>




            </div>



        </div>


        <hr />


        <div class="row">


            <div id="historique" class="span6 offset3">

                <h2>Historique <a class="hint label label-info" rel="hint4">Aide</a></h2>

                <div id="hint4" class="hintcontent alert alert-info">
                    <a class="close" data-dismiss="alert">?</a>
                    <p>Le tableau suivant affiche les 6 dernieres opérations du client.
                    Toutes les opérations sont sauvegarder dans la base de données mais seulement
                    les 6 dernières sont affichées.</p>
                </div>


                <table class="table table-condensed table-striped">

                    <tr>
                        <th class="black">Date</th>
                        <th class="black">Solde</th>
                        <th width="12px">+</th>
                        <th class="black">Modif</th>
                        <th width="12px">=</th>
                        <th class="black">Nouveau solde</th>
                    </tr>

                    {% for operation in account.operations %}
                    <tr>
                        <td class="caps">{{ operation.createdat|date("m/d/Y") }}</td>
                        <td><strong> {{ operation.previousBalance }} &euro;</strong></td>
                        <td>+</td>
                        <td> {{ operation.previousBalance - operation.newBalance}} &euro;</td>
                        <td>=</td>
                        <td> {{ operation.newBalance }} &euro;</td>
                    </tr>
                    {% endfor %}

                </table>

            </div>


        </div>




	</div>

{% endblock %}
