<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="fr" />

        <meta name="author" lang="fr" content="Julien Bourdeau" />
        <meta name="copyright" lang="fr" content="Julien Bourdeau" />
        <meta name="description" content="Un systeme de gestion des tickets Resto" />

        <meta name="robots" content="noindex" />

        <meta charset="UTF-8" />
        <title>{% block title %}Inscription - Gestion des avoirs des tickets restaurant!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                'bundles/piggyboxticket/css/*'
                'bundles/piggyboxuser/css/home.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}


    </head>
    <body>

        <div id="maincontainer">
            <header id="header" class="container">

                <div class="jumbotron masthead">

                    <div class="inner">
                        <h1 id="branding-banner">PiggyBox</h1>
                        <p>Un logiciel simple pour conserver et gérer en magasin les avoirs de vos clients sur leurs Tickets Restaurant.</p>


                    </div>

                </div>

            <div class="clear"></div>

            </header>
        </div>

        {#
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        #}


        <div>


            {% block content %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts

                'bundles/piggyboxuser/js/vendor/jquery-1.7.2.min.js'
                'bundles/piggyboxuser/js/vendor/bootstrap.min.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

            <!-- NOTE: fonction qui permet dimprimer la valeur de email dans username. a retravailler -->
            <!-- TODO: integrer ca un peu mieux dans un fichier js -->
            <script type="text/javascript">
            $(function() {

                $('input#fos_user_registration_form_email').keyup(function (){
                    $('input#fos_user_registration_form_username').val($('input#fos_user_registration_form_email').val());
                    });

            });
            </script>
            {% endjavascripts %}
        {% endblock %}

    </body>
</html>
