<!DOCTYPE html>
<html>
    <head>
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="fr" />

        <meta name="author" lang="fr" content="Julien Bourdeau" />
        <meta name="copyright" lang="fr" content="Julien Bourdeau" />
        <meta name="description" content="Un systeme de gestion des tickets Resto" />

        <meta name="robots" content="noindex" />              
           
        <meta charset="UTF-8" />
        <title>{% block title %}Inscription - Gestion des avoirs des tickets restaurant!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
            	'bundles/piggyboxticket/css/*'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        
    </head>
    <body>

        <div id="maintcontainer">
            <header id="header" class="container">

            <div id="branding" class="row">
                <div class="span12">                
                    <div class="pull-right"><br /><img src="{{ asset('bundles/piggyboxticket/img/logos.png') }}" /></div>
                    <a href="{{ path('customer_search') }}"></a>
                </div>
            </div>

            <div class="clear"></div>

            </header>
        </div>

        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div>


            {% block content %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
        </div>

    </body>
</html>
